<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Contrataciones" connectionString="Data Source=elcongresorol.duckdns.org,55879;Initial Catalog=Contrataciones;User ID=sa;Password=Kbo43462052!!;Encrypt=False" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>